
*{
    margin: 0px;
    position: absolute;
}


.container{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: rgb(58 210 255);
}



#clock{
    height: 90vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.hand{
    border: none;
    background-color: rgb(0, 0, 0);
    margin-left: 50vw;
    transform-origin: 0% 50%;
    border-radius: 8px;
    
}

#secondHand{
    height: 0.5vh;
    margin-top: 49.7vh;
}

#minuteHand{
    height: 1vh;
    margin-top: 49.5vh;
}

#hourHand{
    height: 2vh;
    margin-top: 49vh;
}

.flexbox{
    background-color: rgb(0, 27, 150);
    display: flex;
    margin-left: 44vw;
    margin-top: 65vh;
    border: 2px solid rgb(0, 0, 0);
}

.flexitem{
    font-size: 1.7em;
    margin: 2px;
    background-color: wheat;
    border: 1px solid gold;
    position: relative;
}